.pkm_img{
    width:50%
}

.pkm_stats_modal{
    width:100%
}

.box {
    width: 100%;
}

th {
    text-align: center;
}
tbody {
    scrollbar-width: none;
}
abbr{
    text-decoration: none;
}
.hidden {
    display: none;
}
.block-type {
    width: 33%;
}
.image {
    width: 100%;
}
.image img {
    width: 10%;
    margin: auto;
}
